
* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}


body{
    background: url("/images/homeImg1.jpg") no-repeat center center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 65px;
}

h1 {
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  font-size: 3.5rem;
  white-space: wrap;
}
p {
  color: white;
  padding-left: 40px;
  padding-top: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 29px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 38px;
}

.registerForm{
  margin: 100px auto;
  background-color: Black;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
border: 4px solid  white;

}



ul.post-grid {
  
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.post-grid li {
  float: left;
  width: 28%;
  cursor: pointer;
  color: #337DFF;
  transition: background linear 0.5s;
  border-bottom: 1px solid #3a8bab;
  margin: 30px;
  background-color: Black;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 2px solid white;
}
ul.post-grid li:hover {
 
 
  background: #3a8bab;
  color: white;
}
ul.post-grid li:hover h3 {

  color: lightgray;
}
.content {
  
  position: absolute;
  padding: 20px 40px 20px;
}
h2{
  text-align: center;
}
h4{   
  color: white;
  text-align: center;
}
.post {
  
  color: #337DFF;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 1;
  padding-bottom: 30px;
 
}
.post cite {
  
  display: inline-block;
  padding: 10px 0;
}
.comments ul {
  margin: 0;
  padding: 0;
}
.comments ul li {
  list-style-type: none;
  padding: 20px 5px;
  border-bottom: 1px #79B9D2 solid;
}
.post.ng-hide {
  opacity: 0;
}
.post.ng-hide-add,
.post.ng-hide-remove {

  display: block!important;
}

form { 
  margin-left: 10%;
  margin-right:10%;
  width: 80%;  
  color: white;
  
}


textarea {
 
  width: 100%;
  padding: 10px;
  font-size: 1.1em;  
  background-color: Black;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 2px solid white;
}
.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}
img {
 
  max-width: 100%;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 10px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  float: right
}
input[type=text], input[type=password], input[type=email], input[type=submit], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 2px solid white;
}

input[type=submit]:hover {
    background-color: #4286f4;    
}

 .error{
  
   color: blue; 
   font-size: 18px;
   float: left;
   text-shadow: black;
 }
.blogPost{
  background-color: Black;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 2px solid blue;
}

.btn btn-primary btn-lg{
  padding: 10000px;
}

cite{
  float: right;
  color: white;
  text-shadow: black;


}