<div ng-controller="BlogController as blog">

      <div class="content">
        <div class="container">
          <div class="row">
            <ul class="post-grid" ng-show="blog.isSelected('blog')">
          <li ng-repeat="post in blog.posts" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="blog.selectTab($index)" >
            <h3>{{post.title}}</h3>
            <p>{{post.body[0] | limitTo:70}}...</p>
            <cite>by {{post.author}}</cite>


          </li>
        </ul>
        <div class="post" ng-repeat="post in blog.posts" ng-show="blog.isSelected($index)">
          <div>

            <h2>{{post.title}}</h2>

            <cite>by {{post.author}} on {{post.createdOn | date}}</cite>
            <div class="post-body">
             <p class="blogPost">
               {{post.body[0] | limitTo:100000000}}
             </p>
            </div>

            <div class="comments">
              <button class="fa fa-heart" ng-click="post.likes = post.likes+1"> {{post.likes}}</button>
              <h3>Comments</h3>
              <ul>
               <li ng-repeat="comment in post.Comments">
                 "{{comment.cbody}}"
                 <cite>- <b>{{comment.cauthor}}</b></cite>
               </li>
              </ul>
              <form name="commentForm" ng-submit="commentForm.$valid && blog.addComment(post)" novalidate>
                <h4>Add Comment</h4>
                  <textarea ng-model="commentForm.commentAuthor" cols="30" rows="10" required></textarea>
                <label for="">by:</label>
                  <input type="text" ng-model="commentForm.commentBody" required placeholder="Name"/>

                  <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
      </div>

          </div>
        </div>


   </div>

  </div>
