<div class="container registerForm" ng-controller="LoginCtrl">
   <form ng-submit="login()">
         <label for="username">username</label>
         <input type="text" id="username" name="username" ng-model="username" >
         <br>
         <label for="password">password</label>
         <input type="password" id="password" name="password" ng-model="password">
         <br>
         <label ng-show="invalidLogin()"></label>
         <button type="submit" class="btn btn-primary" >Submit</button>
   </form>
</div>
