
<div ng-controller="UserBlogController as blog">


      <div class="content">
                       <button type="button" class="btn btn-primary btn-circle btn-xl" ng-click="blog.selectTab('new')"><i class="glyphicon glyphicon-plus"></i></button>

        <div class="container">
          <div class="row">
            <ul class="post-grid" ng-show="blog.isSelected('blog')">
          <li ng-repeat="post in blog.posts" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="blog.selectTab($index)" >
            <h3>{{post.title}}</h3>
            <p>{{post.body[0] | limitTo:70}}...</p>
            <p class="fa fa-comment push-left"> {{post.comments.length}}
            </p>
            <p class="fa fa-heart push-right"> {{post.likes}}
            </p>
          </li>
        </ul>
        <div class="post" ng-repeat="post in blog.posts" ng-show="blog.isSelected($index)">
          <div>

            <h2>{{post.title}}</h2>
            
            <cite>by {{post.author}} on {{post.createdOn | date}}</cite>
            <div class="post-body">
             <p class="blogPost">
               {{post.body[0] | limitTo:100000000}}
             </p>
            </div>


            <div class="comments" ng-controller="UserCommentController as commentCtrl">
              <button class="fa fa-heart" ng-click="post.likes = post.likes+1"> {{post.likes}}</button>
              <h3>Comments</h3>
              <ul>
               <li ng-repeat="comment in post.comments">
                 "{{comment.cbody}}"
                 <cite>- <b>{{comment.cauthor}}</b></cite>
               </li>
              </ul>
            </div>
        </div>
        <form>
          <button class="btn btn-primary" ng-click="blog.selectTab('edit')">Update Post></button>
          <button class="btn btn-danger" ng-click="blog.deletePost(post)">Delete Post</button>
        </form>
      </div>
        <div class="post" ng-show="blog.isSelected('new')">
          <h2>Add New Post</h2>

          <form name="postForm" novalidate ng-submit="postForm.$valid && blog.addPost()" >
                  <h4>Title</h4>
                  <input type="text" ng-model="blog.post.title"/>
                  <h4>Body</h4>
                  <p class = "error">Message must be over 70 characters</p>                  
                  <textarea ng-model="blog.post.body" ng-list="/\n/" rows="10" required ng-minlength="70"></textarea>
                  

                  <label for="">by:</label>
                  <input type="text" ng-model="blog.post.author" placeholder="Author Name" required/>

                  <input type="submit" value="Submit" />
                </select></form>
          </div>
          </div>
        </div>
        <div class="post" ng-show="blog.isSelected('edit')">
          <div class="">
            <textarea ng-model="blog.post.body" ng-list="/\n/" rows="10" cols "10" wrap="hard">{{post.body}}</textarea>
            <button class="btn btn-primary" ng-click="blog.updatePost(post)">Update Post</button>
          </div>
        </div>
    </div>
  </div>